<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/register.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <header>
      <h1>{ VíveresGPS }</h1>
      <p>Tu mercado de confianza local para pedidos en carnes.</p>
    </header>

    <nav>
      <a href="/">Inicio</a>
      <a href="/login">Logearme</a>
    </nav>

    <div class="wrapper">
      <main>
        <section class="container">
          <h2>{ Registrarme }</h2>
          <form
            action="/register"
            method="POST"
          >
            <% if (errorFlag) { %>
              <p style="color: red;"><%= errorMessage %></p>
            <% } %>

            <input
              id="username"
              class="entries"
              type="text"
              name="username"
              value="<%= username %>"
              placeholder="nombre de usuario"
              required
            />
            <% if (alreadyExistUsernameFlag || spacesOnUsernameFlag) { %>
              <style> #username { border-color: red; } </style>
            <% } %>

            <input
              id="firstname"
              class="entries"
              type="text"
              name="firstname"
              value="<%= firstname %>"
              placeholder="nombre"
              required
            />
            <% if (spacesOnFirstnameFlag) { %>
              <style> #firstname { border-color: red; } </style>
            <% } %>

            <input
              id="lastname"
              class="entries"
              type="text"
              name="lastname"
              value="<%= lastname %>"
              placeholder="apellido"
              required
            />
            <% if (spacesOnLastnameFlag) { %>
              <style> #lastname { border-color: red; } </style>
            <% } %>

            <input
              id="phone"
              class="entries"
              type="tel"
              name="phone"
              value="<%= phone %>"
              placeholder="teléfono (opcional)"
              pattern="\+\d{2}\s\d{3}\s\d{4}"
              title="Formato: +12 345 6789"
            />

            <input
              id="email"
              class="entries"
              type="email"
              name="email"
              value="<%= email %>"
              placeholder="correo"
              required
            />
            <% if (alreadyExistEmailFlag) { %>
              <style> #email { border-color: red; } </style>
            <% } %>

            <input
              id="password"
              class="entries"
              type="password"
              name="password"
              value="<%= password %>"
              placeholder="contraseña"
              required
            />

            <input
              id="re_password"
              class="entries"
              type="password"
              name="re_password"
              placeholder="verificar_contraseña"
              required
            />
            <% if (unsimilarPasswordFlag) { %>
              <style> #password { border-color: red; } </style>
            <% } %>

            <div>
              <label for="checkbox">Mostrar</label>
              <input
                id="checkbox"
                type="checkbox"
              />

              <script src="/static/js/checkbox.js"></script>
            </div>

            <button type="submit">{ Acceder }</button>
          </form>
        </section>
      </main>
    </div>

    <footer>
      <p>Hey, soy un texto para decirte que esto tiene copyright. Si intentas lo que sea te demando.</p>
    </footer>

    <script src="/static/js/heightAdjuster.js"></script>
  </body>
</html>
